

a {
    display: block;
    padding: 20px;
    text-align: center;
}


.reddit-logo {
    width: 10%;
    height: 10%;
    position: relative;
    left: 44.5%;
}


h1, h3, p{
    text-align: center;
}